.drink-img {
    width: 100px
}

.cocktail-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  /* background-color: blue; */
  width: 100%;
}

.cocktail-list-item {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}