*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  overflow: auto;
}
h1 {
  font-size: 4rem;
  /* padding: 1rem; */
}
p {
  font-size: 1.5rem;
  color: hsl(209, 34%, 30%);
}
.footer {
  background-color: hsl(209, 34%, 30%);
  height: 7vh;
}
.footer-text {
  color: hsl(208, 37%, 76%);
}
.navbar {
  /* line-height: 10vh; */
  background-color: hsl(208, 77%, 25%);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  grid-area: navbar;
  width: 100%;
  min-height: 15vh;
}
.nav-item {
  /* line-height: 3.4rem; */
  letter-spacing: 0.2rem;
  /* text-transform: uppercase; */
  padding: 0.8rem;
  margin: 0.8rem;
  background-color: hsl(208, 80%, 6%);
  color: hsl(208, 37%, 76%);
  text-decoration: none;
  border-radius: 1rem;
  text-align: center;
  transition: transform 0.2s ease;
}
.nav-item-container {
  transition: transform 0.2s ease;
}
.nav-item-container:hover {
  transform: scale(1.2);
}
.nav-item-container:hover .nav-item {
  color: rgb(153, 225, 190);
}
li {
  list-style-type: none;
  text-indent: 2rem;
}
.home {
}
article {
  font-size: 1.4rem;
}
.introduction {
  margin: auto;
  max-width: 60vw;
  text-align: left;
}
.page {
  /* grid-area: page; */
  width: 100%;
  padding-top: 15vh;
  min-height: 93vh;
  padding-bottom: 3vh;
}
.map {
  max-width: 700px; /* Set the maximum width */
  max-height: 400px; /* Set the maximum height */
  overflow: hidden; /* Add scrollbars if content exceeds the size */
  /* Add any other styles or properties you need */
  /* background-color: lightblue; */
  border: 1px solid #ccc;
  padding: 10px;
  /* You can center the div using margin or flexbox as needed */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  display: inline-flex;
  max-height: 2rem;
  font-size: 1.5rem;
  margin: 2rem;
  justify-content: center;
}
.searchform {
  font-weight: bold;
  margin-right: 0.6rem;
}
input {
  font-size: 1.5rem;
  margin-top: 0.25rem;
  height: 2rem;
}
.cocktail-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  /* background-color: blue; */
  width: 100%;
}
/* .cocktail-list-item {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
} */
.cocktail-list-item {
  margin: 1rem;
  text-decoration: none;
  color: hsl(209, 14%, 65%);
  letter-spacing: 0.15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(209, 34%, 30%);
  transition: transform 0.2s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.cocktail-list-item:hover {
  transform: scale(1.2);
  background-color: hsl(209, 24%, 50%);
  color: rgb(153, 225, 190);
  /* margin: 2rem; */
}
.drink-img {
  width: 100px;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
.cocktail-list-item-header {
}
.cocktail-searchform {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.5rem;
}
.select-food-chain {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.5rem;
  padding: 0.3rem;
  color: hsl(209, 34%, 30%);
}
.cocktail-card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  /* background-color: blue; */
  border-radius: 1rem;
}
.cocktail-image {
  width: 20rem;
  border-radius: 1rem;
  border: 0.3rem solid hsl(209, 34%, 30%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  order: 1;
  margin-bottom: 1.5rem;
}
.cocktail-description {
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 35vw;
  min-width: 20rem;
}
cocktail-descriptions p::first-word {
  font-weight: bold;
}
.cocktail-descriptions {
  order: 2;
  padding-left: 3rem;
  /* padding-top: 1rem; */
}

@media screen and (max-width: 670px) {
  .navbar {
    line-height: 10vh;
  }
  .page {
    padding-top: 30vh;
  }
  .cocktail-descriptions {
    /* margin-top: 5rem; */
  }
  .map {
    max-height: 300px;
  }
}
.page-not-found {
  /* text-transform: uppercase; */
  letter-spacing: 0.05rem;
}
